<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= stylesheet_link_tag "active_only" %>
  <%= javascript_include_tag 'jquery.min','easySlider1.7','slim','date.format','jquery.count_to'%>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <%= csrf_meta_tag %>
  <meta http-equiv="refresh" content="3600"/>
</head>
<body class="<%= params[:action] %>">
<div class="container_19 clearfix">
    <%= yield %>
</div>
<audio id="smb">
	<source src="/smb3.mp3">
</audio>
</body>
</html>
